.header {
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.header-content {
  padding-top: 40vh;
  margin-left: 15%;
}

.header-content > h1 {
  font-size: 60px;
  font-weight: bold;
}

.header-content > p {
  padding-top: 10px;
  font-size: 30px;
}

.homebot{
  position: absolute;
  top: 40vh;
  left: 60%;
}

.content {
  margin: auto;
  padding: 0 30px;
  margin-bottom: 30px;
}

/* members region start */
.facebook {
  position: absolute;
  top: 38%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #4267B2;
  font-size: 50px;
  cursor: pointer;
}

.linkedin {
  position: absolute;
  top: 38%;
  left: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #0072b1 ;
  font-size: 50px;
  cursor: pointer;
}
/* members region end */

.home-bottom {
  background-color: rgb(28,203,200)  ;

}

.home-bottom > div {
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* act region start */
.activities-display {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 19px;
  margin: 10px 0px;
}
.activity {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: rgb(28,203,200);
}
.act-img {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.act-img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.act-title {
  text-align: center;
}

/* act region end */