.header {
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.header-content {
  padding-top: 40vh;
  margin-left: 15%;
}

.header-content > h1 {
  font-size: 46px;
  font-weight: bold;
}

.header-content > p {
  padding-top: 10px;
  font-size: 22px;
}

.content {
  margin: auto;
  padding: 0 30px;
  margin-bottom: 30px;
}

/* members region start */
.facebook {
  position: absolute;
  top: 38%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #4267B2;
  font-size: 50px;
  cursor: pointer;
}

.linkedin {
  position: absolute;
  top: 38%;
  left: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #0072b1 ;
  font-size: 50px;
  cursor: pointer;
}
/* members region end */
