.header {
  background-image: url("../../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.header-content {
  padding-top: 40vh;
  margin-left: 15%;
}

.header-content > h1 {
  font-size: 60px;
  font-weight: bold;
}

.header-content > p {
  padding-top: 10px;
  font-size: 30px;
}

.homebot{
  position: absolute;
  top: 40vh;
  left: 60%;
}

.content {
  margin: auto;
  padding: 0 30px;
  margin-bottom: 30px;
}

/* members region start */
.facebook {
  position: absolute;
  top: 38%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #4267B2;
  font-size: 50px;
  cursor: pointer;
}

.linkedin {
  position: absolute;
  top: 38%;
  left: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: #0072b1 ;
  font-size: 50px;
  cursor: pointer;
}
/* members region end */

.home-bottom {
  background-color: rgb(28,203,200)  ;

}

.home-bottom > div {
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* act region start */
.activities-display {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 19px;
  margin: 10px 5px;
}
.activity {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: rgb(28,203,200);
}
.act-img {
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.act-img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
.act-title {
  text-align: center;
}

/* act region end */

@media (max-width: 868px) {
  body.disabled {
    overflow: hidden;
  }

  .activities-display {
    grid-template-columns: auto;
  }

  .icon {
    display: block;
  }
  .icon.hide {
    display: none;
  }

  .mynavbar .menu-list {
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 400px;
    left: -100%;
    top: 0px;
    display: block;
    padding: 40px 0;
    text-align: center;
    background: var(--light);
    transition: all 0.3s ease;
  }

  .mynavbar.show .menu-list {
    left: 0%;
    background: var(--dark);
  }

  .mynavbar .menu-list li {
    margin-top: 45px;
  }

  .mynavbar .menu-list li a {
    font-size: 23px;
    margin-left: -100%;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .mynavbar.show .menu-list li a {
    margin-left: 0px;
  }

  .members-container {
    grid-template-columns: auto auto;
  }

  .homebot {
    display: none;
    top: 60vh;
    left: 40%;
  }
}

@media (max-width: 570px) {
  .header-content {
    padding-top: 40vh;
    margin-left: 10%;
  }
  
  .header-content > h1 {
    font-size: 40px;
    font-weight: bold;
  }

  .section-bot {
    width: 12rem;
    height: 12rem;
  }

  .members-container {
    grid-template-columns: auto;
  }

  .activities-display {
    grid-template-columns: auto;
  }

}

@media (max-width: 380px) {
  .mynavbar .logo a {
    font-size: 27px;
  }
}